n8n-workflow.json
{
  "name": "LuxifyKart Products Sync",
  "nodes": [
    {
      "parameters": {
        "url": "https://script.google.com/macros/s/AKfycbwUXvHJ0YVYQNvVpTO2McmybsgdxLae2iaOfAV3SBcUcx9noWgXOWdSIwqgWEMw_cJc/exec",
        "options": {
          "timeout": 30000
        }
      },
      "id": "googleSheetFetch",
      "name": "Fetch from Google Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [250, 300]
    },
    {
      "parameters": {
        "dataPropertyName": "products",
        "options": {}
      },
      "id": "jsonParse",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.parseJson",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fileName": "/data/products.json",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "saveJson",
      "name": "Save to products.json",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [50, 300]
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Fetch from Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch from Google Sheets": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Save to products.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
